/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #64a725;
  --ifm-color-primary-dark: #5a9621;
  --ifm-color-primary-darker: #558e1f;
  --ifm-color-primary-darkest: #46751a;
  --ifm-color-primary-light: #6eb829;
  --ifm-color-primary-lighter: #73c02b;
  --ifm-color-primary-lightest: #82d337;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-light: #fafafa;
  --ifm-background-color: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78af46;
  --ifm-color-primary-dark: #6c9e3f;
  --ifm-color-primary-darker: #66953c;
  --ifm-color-primary-darkest: #547a31;
  --ifm-color-primary-light: #84ba53;
  --ifm-color-primary-lighter: #8bbe5c;
  --ifm-color-primary-lightest: #9dc876;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-light: #444950;
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Inline images */

.img-right {
  margin: 0 0 10px 10px;
}

.img-round-corners {
  border-radius: 0.25rem;
}

/* Primary button */

.button--primary-right {
  margin: 10px 10px;
  border: unset;
  transition: transform 0.3s ease, color 0.3s ease;
}

.button--primary-right:hover {
  background-color: unset;
  border: unset;
  font-weight: bold;
  transform: translateX(3px);
}

@media screen and (max-width:996px) {
  .hero-buttons {
    display: flex;
    flex-direction: column;
  }
}

/* Quiz component */

.quiz-button-container {
  position: relative;
  text-align: center;
}

.quiz-button-center {
  margin: 0;
  position:sticky;
  display: inline-block;
  white-space: unset !important;
}

.react-quiz-container {
  max-width: 100% !important;
  min-height: 350px;
  overflow-x: auto;
  padding-right: 5px;
}

.selection-tag {
  background-color: var(--ifm-color-primary) !important;
}

.nextQuestionBtn {
  border-color: var(--ifm-color-primary) !important;
  color: var(--ifm-color-primary) !important;
  background-color: #FFF !important;
}

.number-of-selection {
  color: var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-light) !important;
  border: 1px solid var(--ifm-color-primary);
}

.filter-dropdown-select {
  min-height: 43px !important;
  border-color: var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-light) !important;
  color: var(--ifm-color-primary) !important;
}

.quiz-result-filter .dropdown-options {
  background-color: var(--ifm-color-light) !important;
}

.dropdown-options-item:hover {
  color: var(--ifm-color-light) !important;
}

.react-quiz-container .correct, .answerBtn.btn.correct {
  background-color: #53b373 !important;
}

.react-quiz-container .incorrect, .answerBtn.btn.incorrect {
  background-color: #cf3838 !important;
}

.react-quiz-container .result-answer-wrapper {
  border: unset !important;
}

.react-quiz-container .result-answer-wrapper h3 {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

.dropdown-options .dropdown-options-item.selected, .dropdown-options .dropdown-options-item:focus {
  background-color: var(--ifm-color-primary-lightest) !important;
}

.close-quiz {
  padding: 0.1rem 0.4rem !important;
  font-size: 1rem;
}
