/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #64a725;
  --ifm-color-primary-dark: #5a9621;
  --ifm-color-primary-darker: #558e1f;
  --ifm-color-primary-darkest: #46751a;
  --ifm-color-primary-light: #6eb829;
  --ifm-color-primary-lighter: #73c02b;
  --ifm-color-primary-lightest: #82d337;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-light: #fafafa;
  --ifm-background-color: #fff;
}

[data-theme='light'] .page-cover-image, .section-cover-image {
  box-shadow: 0 0 0.2rem 0rem rgba(0, 0, 0, 0.1)
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78af46;
  --ifm-color-primary-dark: #6c9e3f;
  --ifm-color-primary-darker: #66953c;
  --ifm-color-primary-darkest: #547a31;
  --ifm-color-primary-light: #84ba53;
  --ifm-color-primary-lighter: #8bbe5c;
  --ifm-color-primary-lightest: #9dc876;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-light: #444950;
}

/* General */

html {
  scroll-behavior: smooth;
}

li::marker {
  color: var(--ifm-color-primary);
}

/* Homepage */

.featuresButton {
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.featuresHexagon {
  align-items: center;
  aspect-ratio: 1/cos(30deg);
  background: var(--ifm-color-primary);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  color: var(--ifm-color-light);
  display: grid;
  font-weight: bold;
  height: 30px;
  margin: auto;
}

/* Navigation bar */

.navbar__item {
  white-space: nowrap;
}

/* Inline images */

.img-right {
  margin: 0 0 10px 10px;
}

.img-round-corners {
  border-radius: 0.25rem;
}

/* Primary button */

.button--primary-right {
  margin: 10px 10px;
  border: unset;
  transition: transform 0.3s ease, color 0.3s ease;
}

.button--primary-right:hover {
  background-color: unset;
  border: unset;
  font-weight: bold;
  transform: translateX(3px);
}

@media screen and (max-width:996px) {
  .hero-buttons {
    display: flex;
    flex-direction: column;
  }
}

/* Pages */

.page-cover-image {
  aspect-ratio: 16/8;
  width: 100%;
  display: inline;
  z-index: 999;
}

.section-cover-image {
  aspect-ratio: 16/8;
  width: 90%;
  display: inline;
  z-index: 999;
}

.module-overview-image {
  aspect-ratio: 12/2.7;
  width: 90%;
  display: inline;
  z-index: 999;
}

/*
———————————————————————
TimeLine CSS
HTML/CSS by SAMET ERPIK
https://www.erpik.com/
———————————————————————
*/

/* Base */

#timeline-content {
  text-align: center;
  padding-left: 4rem;
}

section.timeline-outer {
  width: 95%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}

/* Timeline */

.timeline {
  border-left: 8px solid var(--ifm-color-light);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin: 2rem auto 0 auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 2em;
  margin-left: 1em;
  padding: 0 20px 20px 30px;
  list-style: none;
  text-align: left;
}

ul.timeline {
  margin-left: 4em;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -188px;
  top: -2px;
  content: attr(data-prefix);
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  min-width: 120px;
  line-height: 1.8em;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px #edf6f5;
  left: -46px;
  background: var(--ifm-color-primary);
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  height: 11px;
  width: 11px;
  content: "";
  width: 1.5em;
  height: 1.6em;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.timeline-focus-areas {
  font-weight: 500;
}

/*
Timeline Responsive Style
*/

@media (max-width: 945px) {
  section.timeline-outer {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;
  }

  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  .timeline h3 {
    font-size: 16px;
  }

  .timeline p {
    padding-top: 20px;
  }

  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media(max-width: 480px) {
  .timeline .event::before {
    left: .5px;
    min-width: 0;
    font-size: 13px;
    position: initial;
    text-align: left;
  }

  ul.timeline {
    margin-left: 0.5em;
  }

  .timeline h3 {
    font-size: 16px
  }

  .timeline p {
    padding-top: 10px
  }
}

/*
Timeline Responsive Style in Getting Started page.
*/

.getting-started .timeline .event::before {
  left: .5px;
  min-width: 0;
  font-size: 14px;
  position: initial;
  text-align: left;
}

.getting-started .timeline .event::after {
  top: 1.6rem;
}

.getting-started #timeline-content {
  padding-left: 1rem;
}

.getting-started ul.timeline {
  margin-left: 1.5rem;
}

.getting-started ul.timeline > li:first-child {
  display: none;
}

.getting-started .timeline p {
  padding-top: 10px
}

.getting-started .timeline .event {
  padding-left: 0.9rem;
}

/*
———————————————————————
Quiz component
———————————————————————
*/

.quiz-button-container {
  position: relative;
  text-align: center;
}

.quiz-button-center {
  margin: 0;
  position: sticky;
  display: inline-block;
  white-space: unset !important;
}

.react-quiz-container {
  max-width: 100% !important;
  min-height: 350px;
  overflow-x: auto;
  padding-right: 5px;
}

.selection-tag {
  background-color: var(--ifm-color-primary) !important;
}

.nextQuestionBtn {
  border-color: var(--ifm-color-primary) !important;
  color: var(--ifm-color-primary) !important;
  background-color: #FFF !important;
}

.number-of-selection {
  color: var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-light) !important;
  border: 1px solid var(--ifm-color-primary);
}

.filter-dropdown-select {
  min-height: 43px !important;
  border-color: var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-light) !important;
  color: var(--ifm-color-primary) !important;
}

.quiz-result-filter .dropdown-options {
  background-color: var(--ifm-color-light) !important;
}

.dropdown-options-item:hover {
  color: var(--ifm-color-light) !important;
}

.react-quiz-container .correct,
.answerBtn.btn.correct {
  background-color: #53b373 !important;
}

.react-quiz-container .incorrect,
.answerBtn.btn.incorrect {
  background-color: #cf3838 !important;
}

.react-quiz-container .result-answer-wrapper {
  border: unset !important;
}

.react-quiz-container .result-answer-wrapper h3 {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

.dropdown-options .dropdown-options-item.selected,
.dropdown-options .dropdown-options-item:focus {
  background-color: var(--ifm-color-primary-lightest) !important;
}

.close-quiz {
  padding: 0.1rem 0.4rem !important;
  font-size: 1rem;
}