/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #64a725;
  --ifm-color-primary-dark: #5a9621;
  --ifm-color-primary-darker: #558e1f;
  --ifm-color-primary-darkest: #46751a;
  --ifm-color-primary-light: #6eb829;
  --ifm-color-primary-lighter: #73c02b;
  --ifm-color-primary-lightest: #82d337;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78af46;
  --ifm-color-primary-dark: #6c9e3f;
  --ifm-color-primary-darker: #66953c;
  --ifm-color-primary-darkest: #547a31;
  --ifm-color-primary-light: #84ba53;
  --ifm-color-primary-lighter: #8bbe5c;
  --ifm-color-primary-lightest: #9dc876;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Inline images */

.img-right {
  margin:0 0 10px 10px;
}

.img-round-corners {
  border-radius: 0.25rem;
}

/* Primary button */

.button--primary-right {
  margin: 10px 10px;
  border: unset;
  transition: transform 0.3s ease, color 0.3s ease;
}

.button--primary-right:hover {
  background-color: unset;
  border: unset;
  font-weight: bold;
  transform: translateX(3px);
}
